.center1 {
    width: 250px;
    height: 100px;
    background-color: antiquewhite;

    margin-left: auto;
    margin-right: auto;
    /* margin: 0 auto; */


}

.center2 {
    text-align: center;
    background-color: aqua
}
.square2 {
    width: 200px;
    height: 200px;
    background-color: orange;
    /* margin: 0 auto; */
    /* margin-left: auto;
    margin-right: auto; */
    display: inline-block;
    margin-left: auto;
  }