* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

.demo {
    width: 20rem;
    height: 20rem;
    background-color: pink;
    border: 5px solid currentColor;
    color: red;
    /* font-size: 20px; */
}
.demo p {
    font-size: inherit;
    color: inherit;
    font-size: unset;
}

.wrapper { color: orange; }

.wrapper p { color: purple; }

p.one { color: inherit; }

p.two { color: initial; }

p.three { color: unset; }